@import "../../node_modules/bootstrap/scss/_variables.scss";

@mixin darkMode($dark: true) {
  @if ($dark==true) {
    background-color: $dark;
    $navbar-dark-color: rgba($white, 0.55);
    $dropdown-dark-bg: $gray-800;
    $dropdown-dark-color: $gray-300;
    $card-bg: $dark;
    // $text: $light-gray;
    $text-important: $white;
  }
}

.dark-theme {
  @include darkMode(true);
}
