@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../scss/_var";

@mixin darkMode($dark: true) {
  @if ($dark) {
    background-color: $body-bg;
    color: $text;
    border-color: $body-bg;
  }
}

.dark-theme {
  @include darkMode(true);
  & * {
    background-color: inherit;
  }
  .navbar {
    background-color: $navbar !important;
  }
  .footer {
    background-color: $footer !important;
  }
}
