@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.slideshow-container {
  position: relative;
  margin: 0;
  height: 50vh;
  color: white;
  perspective: 5000px;
  transform-origin: center;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-10vw) rotateY(0);
}

#animated {
  animation: rotateYanimate 15s infinite;
}

.mySlides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mySlides:nth-child(1) {
  transform: rotateY(180deg) translateZ(35vw);
}

.mySlides {
  text-align: center;
}

@keyframes rotateYanimate {
  0% {
    transform: translateZ(-35vw) rotateY(0);
  }

  50% {
    transform: translateZ(-35vw) rotateY(-180deg);
  }

  100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

@media screen and (max-width: 400px) {
  .slideshow-container {
    display: none;
  }
}

@media screen and (min-width: 400px) {
  .slide-sm {
    display: none;
  }
}
